Set up Configuration

In [39]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
%sql postgresql://jihoju96:Jihoju96!1@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

'Connected: jihoju96@dev'

### 다양한 SELECT 실행해보기

In [ ]:
%%sql

SELECT *
FROM raw_data.user_session_channel
LIMIT 10;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(1491, '00029153d12ae1c9abe59c17ff2e0895', 'Organic'),
 (59, '0002ac0d783338cfeab0b2bdbd872cda', 'Naver'),
 (117, '0006246bee639c7a7b11a08e34dd3cc6', 'Youtube'),
 (572, '0006dd05ea1e999ddaa041a7091b7b36', 'Organic'),
 (935, '0007cda84fafdcf42f96c4f4adb7f8ce', 'Google'),
 (1363, '000a91f3e374e6147d58ed1814247508', 'Naver'),
 (780, '000c076c390a4c357313fca29e390ece', 'Naver'),
 (1917, '000d0c74074191add6f22e0004db8f76', 'Organic'),
 (1357, '000d54aadcedee0739d39127955f2cdb', 'Instagram'),
 (1247, '000dd3543ac84d906eae52e7c779bb2a', 'Naver')]

In [ ]:
%%sql

SELECT DISTINCT channel     -- 유일한 채널 이름을 알고 싶은 경우
FROM raw_data.user_session_channel;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Facebook',),
 ('Instagram',),
 ('Naver',),
 ('Youtube',),
 ('Organic',),
 ('Google',)]

In [ ]:
%%sql
-- channel 별로 record 개수를 알고 싶은 경우
SELECT channel, COUNT(1)
FROM raw_data.user_session_channel
GROUP BY 1;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Naver', 16921),
 ('Youtube', 17091),
 ('Instagram', 16831),
 ('Facebook', 16791),
 ('Organic', 16904),
 ('Google', 16982)]

#### COUNT() 함수

COUNT(*), COUNT(0), COUNT(1), COUNT(100), COUNT(10000) 모두 같다. -> 모든 record 개수 <br>
COUNT(1) 이 convention에 가깝다.<br>

BUT, COUNT(NULL) 값: 0

In [ ]:
%%sql 

SELECT COUNT(0)
FROM raw_data.user_session_channel;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101520,)]

#### 비어 있는 테이블 만들고 레코드 추가하고 COUNT 하기

In [ ]:
%%sql

DROP TABLE IF EXISTS jihoju96.test_table;
CREATE TABLE jihoju96.test_table (
    value int
);

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [ ]:
%%sql

-- 괄호 열고 닫고가 하나의 record
INSERT INTO jihoju96.test_table VALUES (NULL), (1), (0), (0), (0), (4), (3);

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[]

In [ ]:
%%sql

SELECT * FROM jihoju96.test_table;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[(None,), (1,), (0,), (0,), (0,), (4,), (3,)]

=> NULL 값을 insert 해줬는데 왠 None? sql에서 NULL은 Python에서 None과 같다(값이 없다, 존재하지  않는다.)

#### 아래 COUNT 문들의 결과값은 얼마일까?

In [ ]:
%%sql

-- COUNT(1): 모든 record / COUNT(value): NULL 값을 제외한 record
SELECT COUNT(1), COUNT(value), COUNT(DISTINCT value)
FROM jihoju96.test_table;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(7, 6, 4)]

### Primary Key 이해해보기와 Data Quality 검사해보기

- 데이터웨어하우스에서 primary key는 '힌트' 이다. -> primary key로 지정한 field가 uniqueness할 거라고 가정하고 redship optimizer가 sql문을 optimize한다.
- 이러한 optimize 보장을 누가해주느냐? 데이터 엔지니어와 데이터 분석가가 보장한다. -> how: 4,5주차

In [ ]:
%%sql

DROP TABLE IF EXISTS jihoju96.test_channel;
CREATE TABLE jihoju96.test_channel (
    channel varchar(32) primary key,
    description varchar(64) default 'test'
);

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [ ]:
%%sql

INSERT INTO jihoju96.test_channel VALUES ('FACEBOOK', 'test'), ('GOOGLE', 'test');

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
2 rows affected.

[]

In [ ]:
%%sql

SELECT * FROM jihoju96.test_channel;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
2 rows affected.

[('FACEBOOK', 'test'), ('GOOGLE', 'test')]

In [ ]:
%%sql

-- 두 번째 값이 default 'test'로 지정되어 굳이 두 번째 값을 지정 안해줘도 error 가 나지 않는다.
-- channel이 primary key 이지만 정상적으로 실행!!!
INSERT INTO jihoju96.test_channel VALUES ('FACEBOOK'), ('GOOGLE');

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
2 rows affected.

[]

In [ ]:
%%sql

-- channel은 primary key 이지만 중복된 값이 들어가졌다.
-- 데이터웨어하우스에서 primary key는 '힌트' 이다. -> primary key로 지정한 field가 uniqueness할 거라고 가정하고 redship optimizer가 sql문을 optimize한다.
-- 이러한 optimize 보장을 누가해주느냐? 데이터 엔지니어와 데이터 분석가가 보장한다. -> how: 4,5주차
SELECT * FROM jihoju96.test_channel;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
4 rows affected.

[('FACEBOOK', 'test'),
 ('GOOGLE', 'test'),
 ('FACEBOOK', 'test'),
 ('GOOGLE', 'test')]

In [ ]:
%%sql

-- 기존 쿼리문과 distinct 쿼리문 간에 row 개수의 차이가 있다면 중복된 것을 의미
SELECT DISTINCT * FROM jihoju96.test_channel;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
2 rows affected.

[('FACEBOOK', 'test'), ('GOOGLE', 'test')]

### 필드 이름 변경해보기

In [ ]:
%%sql

ALTER TABLE jihoju96.test_channel RENAME channel to channelname;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.

[]

### 중복 레코드 확인해보기

In [ ]:
%%sql

SELECT COUNT(1) FROM jihoju96.test_channel;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(4,)]

In [ ]:
%%sql

SELECT COUNT(1) FROM (
    SELECT DISTINCT * FROM jihoju96.test_channel
);

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(2,)]

### Primary Key Uniqueness 확인해보기

In [ ]:
%%sql

-- primary key인 channelname 별로 record 개수를 구하면 1이 나와야 하지만 이상이 나오면 데이터를 의심!!!
SELECT channelname, COUNT(1)
FROM jihoju96.test_channel
GROUP BY 1
ORDER BY 2 desc
LIMIT 1;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[('FACEBOOK', 2)]

타임 스탬프 field가 있다면 최근에도 업데이트된 레코드가 있는지 꼭 확인하기! <br>
언제부터 레코드가 생성되었는지도 확인, 월별로 레코드 수를 확인해보는 것도 좋은 버릇!!

In [ ]:
%%sql

-- 최근 정보의 date가 3년 전이면 최근에 이 테이블에 정보가 들어오지 않았다는 의미
SELECT MIN(ts), MAX(ts)
FROM raw_data.session_timestamp;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(datetime.datetime(2019, 5, 1, 0, 13, 11, 783000), datetime.datetime(2019, 11, 30, 23, 58, 23))]

### CASE WHEN 사용하기

어떤 field의 값을 가지고 변환하는 방법

In [ ]:
%%sql

--월별 count
SELECT LEFT(ts, 7), COUNT(1)
FROM raw_data.session_timestamp
GROUP BY 1;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-11', 18059),
 ('2019-08', 17151),
 ('2019-10', 18899),
 ('2019-07', 14840),
 ('2019-09', 15790),
 ('2019-05', 6261),
 ('2019-06', 10520)]

월별로 10000 혹은 그 이상 세션이면 ">= 10,000" 아니면 "< 10,000" 이렇게 찍어보기

In [ ]:
%%sql

SELECT 
    LEFT(ts, 7),
    CASE 
        WHEN COUNT(1) >= 10000 THEN '>= 10,000'
        ELSE '< 10,000'
    END
FROM raw_data.session_timestamp
GROUP BY 1;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-11', '>= 10,000'),
 ('2019-08', '>= 10,000'),
 ('2019-10', '>= 10,000'),
 ('2019-07', '>= 10,000'),
 ('2019-09', '>= 10,000'),
 ('2019-05', '< 10,000'),
 ('2019-06', '>= 10,000')]

월별로 15000 혹은 그 이상 세션이면 ">= 15,000", 10000보다 작으면 "< 10,000", 그 사이이면 "10000 and 15000" 이렇게 찍어보기

In [ ]:
%%sql

SELECT 
    LEFT(ts, 7),
    CASE
        WHEN COUNT(1) >= 15000 THEN '>= 15,000'
        WHEN COUNT(1) < 10000 THEN '< 15,000'   -- elif(같은 의미)
        ELSE '10000 and 15000'                  -- else(같은 의미)
    END
FROM raw_data.session_timestamp
GROUP By 1
ORDER BY 1;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-05', '< 15,000'),
 ('2019-06', '10000 and 15000'),
 ('2019-07', '10000 and 15000'),
 ('2019-08', '>= 15,000'),
 ('2019-09', '>= 15,000'),
 ('2019-10', '>= 15,000'),
 ('2019-11', '>= 15,000')]

### 공백이 들어있는 필드이름 혹은 예약된 키워드를 필드이름으로 사용하려면?

- sql 에 field(column) 이름에 공백이 들어가면 안된다. 
- 예약된 키워드(미리 정의된)를 사용하면 안된다.

#### 그럼에도 사용하고 싶으면 double quote(") 사용
- single quote(')와 double quote(")는 의미가 다르다.
  - double quote를 쓰는 순간 redshift는 field 이름이라 간주
  - 공백이 있어도 double quote 사용하면 에러 발생 x
  - double quote 로 지정한 field는 쿼리 사용 시 동일하게 사용

In [4]:
%%sql

DROP TABLE IF EXISTS jihoju96.test;
CREATE TABLE jihoju96.test (
    group int primary key,            -- group 키워드는 미리 정의된 키워드라서 에러 발생 -> 그럼에도 사용시 ""(double quote) 사용 ("group") 
    'mailing address' varchar(32)     -- single quote 라 에러 발생 -> double quote 사용
)

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
(psycopg2.errors.SyntaxError) syntax error at or near "group"
LINE 2:     group int primary key,            -- group 키워드는 미리...
            ^

[SQL: CREATE TABLE jihoju96.test (
    group int primary key,            -- group 키워드는 미리 정의된 키워드라서 에러 발생 -> 그럼에도 사용시 ""(double quote) 사용 ("group")
    'mailing address' varchar(32)     -- single quote 라 에러 발생 -> double quote 사용
)]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [5]:
%%sql

CREATE TABLE jihoju96.test (
    "group" int primary key,        -- double quote
    "mailing address" varchar(32)   -- double quote
);

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.

[]

In [6]:
%%sql 

-- double quote 로 지정한 field는 다른 쿼리문에서도 동일하게 사용
SELECT "group" FROM jihoju96.test;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
0 rows affected.

[]

### 다양한 WHERE clause 사용해보기

WHERE에서 "in"을 사용한 clause 사용해보기

In [8]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel
WHERE channel in ('Google', 'Facebook');    -- NOT IN

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(33773,)]

WHERE에서 "like"을 사용한 clause 사용해보기

- LIKE: 대소문자를 구분하는 case-sensitive string match
- ILIKE: 대소문자를 구별하지 않는 case-insensitive string match

In [9]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel
WHERE channel like '%oo%';

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(33773,)]

In [10]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel
WHERE channel like 'F%';

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(16791,)]

WHERE에서 "between"을 사용한 clause 사용해보기
- BETWEEN은 inclusive 하다. 범위에 조건값도 포함

In [11]:
%%sql 

SELECT COUNT(1)
FROM raw_data.session_timestamp
WHERE ts BETWEEN '2019-05-01' and '2019-06-01';   -- inclusive: '2019-05-01', '2019-06-01' 도 포함

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(6261,)]

### NULL과 TRUE/FALSE 이해하기

NULL: 값이 존재하지 않음을 의미 -> 0이나 비어있는 string 과는 다르다.
- refunded IS TRUE 와 refunded IS NOT FALSE 는 수학적으로 동치이나 SQL 에서는 아니다.
  - refunded가 NULL일 수도 있기에!
  - IS TRUE: refunded가 TRUE 인 경우만!
  - IS NOT FALSE: **refunded가 TRUE, NULL를 선택**
  - 사용전 NULL이 있는지 따져봐야한다.

In [12]:
%%sql

-- primary key로 지정된 필드는 중복검사(uniqueness)를 하는 것이 좋다.
SELECT COUNT(1)
FROM jihoju96.test_table
WHERE value IS NULL;    -- WHERE value != NULL 이 아니다! IS NULL의 반대는 IS NOT NULL

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(1,)]

기본적으로 필드는 NULL값을 가질 수 있다. 만일 어느 필드의 값이 NULL이 될 수 없다면 CREATE TABLE 실행시 지정 가능하다.

In [13]:
%%sql 

DROP TABLE IF EXISTS jihoju96.test_null;
CREATE TABLE jihoju96.test_null (
    value int NOT NULL    -- 이런 경우 value의 값이 NULL이면 추가 x -> primary key uniqueness처럼 데이터웨어하우스가 무시하지 않는다.
);

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [14]:
%%sql

-- value field는 테이블 생성 시 NOT NULL 이라 지정하여 NULL 값이 들어갈 수 없다.
INSERT INTO jihoju96.test_null VALUES (NULL);

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

InternalError: ignored

#### Boolean 필터링과 NULL과의 관계

In [15]:
%%sql

DROP TABLE IF EXISTS jihoju96.test_boolean;
CREATE TABLE jihoju96.test_boolean (
    value boolean
);

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [16]:
%%sql

INSERT INTO jihoju96.test_boolean VALUES (True), (False), (True), (True), (True), (NULL);

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[]

In [17]:
%%sql

SELECT * FROM jihoju96.test_boolean;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[(True,), (False,), (True,), (True,), (True,), (None,)]

In [18]:
%%sql

SELECT COUNT(1)
FROM jihoju96.test_boolean WHERE value IS FALSE;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(1,)]

In [19]:
%%sql

SELECT COUNT(1) 
FROM jihoju96.test_boolean WHERE value IS NOT TRUE; -- False 와의 동치 x: is not True => NULL 값도 같이 count 한다.

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(2,)]

#### NULL이 들어간 경우의 연산은?

- NULL이 들어간 사칙연산은 모두 NULL 이다!!
- NULL이 들어간 aggregate(count, sum ..) 함수에서 쓰일 때는 0 이다.

In [20]:
%%sql

SELECT COUNT(NULL)

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(0,)]

In [21]:
%%sql 

SELECT 1/NULL;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.
1 rows affected.

[(None,)]

In [22]:
%%sql

SELECT 0+NULL;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(None,)]

### COALESCE, NULLIF

- **NULLIF**: 두 개의 인자가 같으면 NULL 리턴, 다르면 첫 번째 인자 리턴
- **COALESCE**: NULL 값 대신 다른 값을 사용하고 싶을 때 사용. 첫 번째 인자가 NULL이면 두번째 인자를 사용

In [23]:
%%sql 

SELECT 100/value
FROM jihoju96.test_table;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
(psycopg2.errors.QueryCanceled) Divide by zero

[SQL: SELECT 100/value
FROM jihoju96.test_table;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [24]:
%%sql

SELECT value, 100/NULLIF(value, 0)
FROM jihoju96.test_table;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[(None, None), (1, 100), (0, None), (0, None), (0, None), (4, 25), (3, 33)]

In [25]:
%%sql 

SELECT value, COALESCE(value, 1)    -- NULL인 경우 1을 대신 사용하고 싶다면
FROM jihoju96.test_table;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[(None, 1), (1, 1), (0, 0), (0, 0), (0, 0), (4, 4), (3, 3)]

## JOIN:

An SQL JOIN clause is used to combine rows from two or more tables, based on a common field between them.

왼쪽 테이블을 LEFT라고 하고 오른쪽 테이블을 RIGHT이라고 하자. JOIN의 결과는 방식에 상관없이 양쪽의 필드를 모두 가진 새로운 테이블을 만들어내게 됨. 조인의 방식에 따라 다음 두 가지가 달라짐:

1. 어떤 레코드들이 선택되는지?
2. 어떤 필드들이 채워지는지?

In [26]:
%%sql

DROP TABLE IF EXISTS jihoju96.vital;
CREATE TABLE jihoju96.vital (
    UserID int,
    VitalID int,
    Date date,
    Weight int
);

INSERT INTO jihoju96.vital VALUES
(100,	1, '2020-01-01', 75),
(100, 3, '2020-01-02', 78),
(101, 2, '2020-01-01', 90),
(101, 4, '2020-01-02', 95);

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.
4 rows affected.

[]

In [27]:
%%sql

DROP TABLE IF EXISTS jihoju96.alert;
CREATE TABLE jihoju96.alert (
    AlertID int,
    VitalID	int,
    AlertType varchar(32),
    Date date,
    UserID int
);
INSERT INTO jihoju96.alert VALUES
 (1,	4, 'WeightIncrease', '2020-01-01', 101),
 (2, NULL, 'MissingVital', '2020-01-04', 100),
 (3, NULL, 'MissingVital', '2020-01-04', 101);

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.
3 rows affected.

[]

* INNER JOIN
1. 양쪽 테이블에서 매치가 되는 레코드들만 리턴함
2. 양쪽 테이블의 필드가 모두 채워진 상태로 리턴됨

In [28]:
%%sql

SELECT * FROM jihoju96.Vital v
JOIN jihoju96.Alert a ON v.vitalID = a.vitalID;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101, 4, datetime.date(2020, 1, 2), 95, 1, 4, 'WeightIncrease', datetime.date(2020, 1, 1), 101)]

* LEFT JOIN: 
1. 왼쪽 테이블의 레코드는 모두 리턴되며 오른쪽 테이블과 매칭이 되는 레코드들의 경우에는 오른쪽 테이블 레코드들의 컬럼들이 채워진 상태로 리턴됨.
2. 매칭이 안되는 왼쪽 테이블 레코드들은 오른쪽 테이블에서 들어오는 필드들은 NULL로 채워짐

In [29]:
%%sql

SELECT * FROM jihoju96.Vital v
LEFT JOIN jihoju96.Alert a ON v.vitalID = a.vitalID;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
4 rows affected.

[(100, 1, datetime.date(2020, 1, 1), 75, None, None, None, None, None),
 (100, 3, datetime.date(2020, 1, 2), 78, None, None, None, None, None),
 (101, 2, datetime.date(2020, 1, 1), 90, None, None, None, None, None),
 (101, 4, datetime.date(2020, 1, 2), 95, 1, 4, 'WeightIncrease', datetime.date(2020, 1, 1), 101)]

* FULL JOIN (OUTER JOIN):
1. 왼쪽 테이블과 오른쪽 테이블의 모든 레코드들을 리턴함
2. 매칭되는 경우에만 양쪽 테이블들의 모든 필드들이 채워진 상태로 리턴됨

In [31]:
%%sql

SELECT * FROM jihoju96.Vital v
FULL JOIN jihoju96.Alert a ON v.vitalID = a.vitalID;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[(101, 4, datetime.date(2020, 1, 2), 95, 1, 4, 'WeightIncrease', datetime.date(2020, 1, 1), 101),
 (None, None, None, None, 2, None, 'MissingVital', datetime.date(2020, 1, 4), 100),
 (None, None, None, None, 3, None, 'MissingVital', datetime.date(2020, 1, 4), 101),
 (101, 2, datetime.date(2020, 1, 1), 90, None, None, None, None, None),
 (100, 1, datetime.date(2020, 1, 1), 75, None, None, None, None, None),
 (100, 3, datetime.date(2020, 1, 2), 78, None, None, None, None, None)]

* CARTESIAN JOIN (CROSS JOIN): 
1. 조인 조건 없이 두 개 테이블의 내용을 모두 조합한 결과 레코드들을 생성

In [34]:
%%sql

SELECT *
FROM (
    SELECT vitalid -- 1, 2, 3, 4
    FROM jihoju96.Vital
)
CROSS JOIN (
    SELECT alertid  -- 1, 2, 3
    FROM jihoju96.Alert
);

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
12 rows affected.

[(1, 1),
 (1, 2),
 (1, 3),
 (3, 1),
 (3, 2),
 (3, 3),
 (2, 1),
 (2, 2),
 (2, 3),
 (4, 1),
 (4, 2),
 (4, 3)]

In [35]:
%%sql

SELECT * FROM jihoju96.Vital v
CROSS JOIN jihoju96.Alert a;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
12 rows affected.

[(100, 1, datetime.date(2020, 1, 1), 75, 1, 4, 'WeightIncrease', datetime.date(2020, 1, 1), 101),
 (100, 3, datetime.date(2020, 1, 2), 78, 1, 4, 'WeightIncrease', datetime.date(2020, 1, 1), 101),
 (101, 2, datetime.date(2020, 1, 1), 90, 1, 4, 'WeightIncrease', datetime.date(2020, 1, 1), 101),
 (101, 4, datetime.date(2020, 1, 2), 95, 1, 4, 'WeightIncrease', datetime.date(2020, 1, 1), 101),
 (100, 1, datetime.date(2020, 1, 1), 75, 2, None, 'MissingVital', datetime.date(2020, 1, 4), 100),
 (100, 3, datetime.date(2020, 1, 2), 78, 2, None, 'MissingVital', datetime.date(2020, 1, 4), 100),
 (101, 2, datetime.date(2020, 1, 1), 90, 2, None, 'MissingVital', datetime.date(2020, 1, 4), 100),
 (101, 4, datetime.date(2020, 1, 2), 95, 2, None, 'MissingVital', datetime.date(2020, 1, 4), 100),
 (100, 1, datetime.date(2020, 1, 1), 75, 3, None, 'MissingVital', datetime.date(2020, 1, 4), 101),
 (100, 3, datetime.date(2020, 1, 2), 78, 3, None, 'MissingVital', datetime.date(2020, 1, 4), 101),
 (101, 2, datetime.date(2020, 1, 1), 90, 3, None, 'MissingVital', datetime.date(2020, 1, 4), 101),
 (101, 4, datetime.date(2020, 1, 2), 95, 3, None, 'MissingVital', datetime.date(2020, 1, 4), 101)]

* Self-Join
  - 동일한 테이블을 alias를 달리해서 자기 자신과 조인한다.
  - inner join이랑 같지만 같은 table을 2번 반복

In [36]:
%%sql 

SELECT * FROM jihoju96.Vital v1
JOIN jihoju96.Vital v2 ON v1.vitalID = v2.vitalID;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
4 rows affected.

[(100, 1, datetime.date(2020, 1, 1), 75, 100, 1, datetime.date(2020, 1, 1), 75),
 (100, 3, datetime.date(2020, 1, 2), 78, 100, 3, datetime.date(2020, 1, 2), 78),
 (101, 2, datetime.date(2020, 1, 1), 90, 101, 2, datetime.date(2020, 1, 1), 90),
 (101, 4, datetime.date(2020, 1, 2), 95, 101, 4, datetime.date(2020, 1, 2), 95)]

### UNION과 UNION ALL 차이점 이해하기

- **UNION** 의 경우 결과에 중복이 있다면 중복을 제거하고 출력<br>
- **UNION ALL** 의 경우 중복이 있더라도 제거하지 않고 전부 출력

In [37]:
%%sql

SELECT 'jihoju' as first_name, 'han' as last_name

UNION

SELECT 'elon', 'musk'

UNION

SELECT 'jihoju', 'han'    -- 처음 줄과 값이 중복

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
2 rows affected.

[('elon', 'musk'), ('jihoju', 'han')]

In [38]:
%%sql

SELECT 'jihoju' as first_name, 'han' as last_name

UNION ALL

SELECT 'elon', 'musk'

UNION ALL

SELECT 'jihoju', 'han'    -- 처음 줄과 값이 중복

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
3 rows affected.

[('jihoju', 'han'), ('elon', 'musk'), ('jihoju', 'han')]

### Practice

In [42]:
%%sql

SELECT * FROM raw_data.user_session_channel LIMIT 10;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(1491, '00029153d12ae1c9abe59c17ff2e0895', 'Organic'),
 (59, '0002ac0d783338cfeab0b2bdbd872cda', 'Naver'),
 (117, '0006246bee639c7a7b11a08e34dd3cc6', 'Youtube'),
 (572, '0006dd05ea1e999ddaa041a7091b7b36', 'Organic'),
 (935, '0007cda84fafdcf42f96c4f4adb7f8ce', 'Google'),
 (1363, '000a91f3e374e6147d58ed1814247508', 'Naver'),
 (780, '000c076c390a4c357313fca29e390ece', 'Naver'),
 (1917, '000d0c74074191add6f22e0004db8f76', 'Organic'),
 (1357, '000d54aadcedee0739d39127955f2cdb', 'Instagram'),
 (1247, '000dd3543ac84d906eae52e7c779bb2a', 'Naver')]

In [43]:
%%sql 

SELECT * FROM raw_data.session_timestamp LIMIT 10;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('00029153d12ae1c9abe59c17ff2e0895', datetime.datetime(2019, 10, 18, 14, 14, 5, 100000)),
 ('0004289ee1c7b8b08c77e19878106ae3', datetime.datetime(2019, 11, 16, 21, 20, 14, 447000)),
 ('0006246bee639c7a7b11a08e34dd3cc6', datetime.datetime(2019, 8, 10, 16, 33, 14, 980000)),
 ('0006dd05ea1e999ddaa041a7091b7b36', datetime.datetime(2019, 7, 6, 19, 54, 15, 83000)),
 ('000958fdaefe0dd06f5d7c4e4a5f28d1', datetime.datetime(2019, 11, 2, 14, 52, 30, 183000)),
 ('000a3f777828d2cdbee98887561aa130', datetime.datetime(2019, 11, 29, 16, 33, 55)),
 ('000a91f3e374e6147d58ed1814247508', datetime.datetime(2019, 7, 17, 14, 24, 16, 880000)),
 ('000cb7efa8a05429dd5309b4bea2eb0c', datetime.datetime(2019, 7, 23, 13, 39, 28)),
 ('000d0c74074191add6f22e0004db8f76', datetime.datetime(2019, 8, 21, 14, 48, 36)),
 ('000d54aadcedee0739d39127955f2cdb', datetime.datetime(2019, 9, 21, 21, 16, 29))]

#### 세션이 가장 많이 생성된 시간대는?

#### EXTRACT() 함수

날짜/시간 데이터에서 year, month, day와 같은 요소를 추출/검색하는 함수. <br>

**EXTRACT(field FROM source)**

- field: year, month, day 따위의 날짜/시간 데이터 요소
- source: 실제 timestamp 값을 의미 -> '2021-01-01 15:00:00' 와 같은 값

In [45]:
%%sql

SELECT EXTRACT(HOUR FROM ts), COUNT(1)
FROM raw_data.session_timestamp
GROUP BY 1
ORDER BY 1 DESC
LIMIT 10;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(23, 2348),
 (22, 2801),
 (21, 3238),
 (20, 3956),
 (19, 5278),
 (18, 7469),
 (17, 10698),
 (16, 14140),
 (15, 15339),
 (14, 13417)]

### 가장 많이 사용된 채널은 무엇인가?

In [47]:
%%sql

SELECT channel, COUNT(1)
FROM raw_data.user_session_channel
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Youtube', 17091),
 ('Google', 16982),
 ('Naver', 16921),
 ('Organic', 16904),
 ('Instagram', 16831),
 ('Facebook', 16791)]

### 가장 많은 세션을 만들어낸 사용자 ID는 무엇인가?

In [50]:
%%sql

SELECT userid, COUNT(1) AS count
FROM raw_data.user_session_channel
GROUP BY 1
ORDER BY 2 DESC
LIMIT 1;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(1615, 528)]

### 월별 채널별 유니크한 사용자 수

In [53]:
%%sql

SELECT EXTRACT(MONTH FROM st.ts) as month, usc.channel, COUNT(DISTINCT usc.userid) as mau
FROM raw_data.session_timestamp st
JOIN raw_data.user_session_channel usc ON st.sessionid = usc.sessionid
GROUP BY 1, 2
ORDER BY 1, 3 DESC;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[(5, 'Google', 253),
 (5, 'Facebook', 247),
 (5, 'Youtube', 244),
 (5, 'Organic', 238),
 (5, 'Naver', 237),
 (5, 'Instagram', 234),
 (6, 'Organic', 416),
 (6, 'Facebook', 414),
 (6, 'Google', 412),
 (6, 'Instagram', 410),
 (6, 'Youtube', 400),
 (6, 'Naver', 398),
 (7, 'Instagram', 567),
 (7, 'Youtube', 564),
 (7, 'Facebook', 558),
 (7, 'Organic', 557),
 (7, 'Google', 556),
 (7, 'Naver', 553),
 (8, 'Naver', 626),
 (8, 'Instagram', 621),
 (8, 'Youtube', 614),
 (8, 'Facebook', 611),
 (8, 'Google', 610),
 (8, 'Organic', 608),
 (9, 'Google', 599),
 (9, 'Facebook', 597),
 (9, 'Naver', 592),
 (9, 'Organic', 592),
 (9, 'Instagram', 588),
 (9, 'Youtube', 588),
 (10, 'Naver', 713),
 (10, 'Organic', 709),
 (10, 'Instagram', 707),
 (10, 'Youtube', 705),
 (10, 'Google', 699),
 (10, 'Facebook', 698),
 (11, 'Google', 688),
 (11, 'Facebook', 688),
 (11, 'Organic', 677),
 (11, 'Youtube', 677),
 (11, 'Instagram', 669),
 (11, 'Naver', 667)]

### 요약 테이블을 CTAS (Create Table 이름 As SELECT)로 생성해보기

In [55]:
%%sql

CREATE TABLE jihoju96.monthly_active_user_summary AS
SELECT TO_CHAR(ts, 'YYYY-MM') AS month, COUNT(DISTINCT userid)
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp st ON st.sessionid = usc.sessionid
GROUP BY 1
ORDER BY 1 DESC;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.

[]

In [56]:
%%sql

SELECT * FROM jihoju96.monthly_active_user_summary;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-11', 721),
 ('2019-08', 662),
 ('2019-10', 763),
 ('2019-09', 639),
 ('2019-07', 623),
 ('2019-06', 459),
 ('2019-05', 281)]

In [57]:
%%sql

DROP TABLE jihoju96.monthly_active_user_summary;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.

[]