Set up *Configuration*

In [1]:
%load_ext sql

In [2]:
%sql postgresql://jihoju96:Jihoju96!1@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

'Connected: jihoju96@dev'

In [3]:
# session transaction 테이블
%%sql

SELECT * FROM raw_data.session_transaction LIMIT 10;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('00029153d12ae1c9abe59c17ff2e0895', False, 85),
 ('008909bd27b680698322c750c400e4b1', False, 13),
 ('0107acb41ef20db2289d261d4e34fd38', False, 16),
 ('018544a2c48077d2cc3ce3278ab1e805', False, 39),
 ('020c38173caff02033564200e0288aa9', False, 61),
 ('029591145fad252b28d844d823097400', False, 13),
 ('03190309cbcd7161a426abd4782bdcd2', False, 75),
 ('03a13aa6921aed989b31d92dc73b391a', False, 129),
 ('04215c1ad3aaff3ed175446d2ea3c0f2', False, 99),
 ('049b8c570e6cc662b4a3d7e3c86e236f', False, 24)]

In [ ]:
# session 중복 확인
%%sql

SELECT sessionid, COUNT(1)
FROM raw_data.session_transaction
GROUP BY 1
ORDER BY 2 DESC
LIMIT 1;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[('00029153d12ae1c9abe59c17ff2e0895', 1)]

# Assignment 3: Gross Revenue가 가장 큰 UserId 10개 찾기

- Gross revenue: Refund 포함한 매출. Refund등의 비용이 빠지면 Net revenue

### 내 풀이

In [9]:
%%sql

SELECT usc.userid, SUM(amount) AS gross_revenue
FROM raw_data.user_session_channel usc
JOIN raw_data.session_transaction st ON usc.sessionid = st.sessionid
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(989, 743),
 (772, 556),
 (1615, 506),
 (654, 488),
 (1651, 463),
 (973, 438),
 (262, 422),
 (1099, 421),
 (2682, 414),
 (891, 412)]

### 리더님 풀이

In [ ]:
%%sql

SELECT usc.userid, SUM(amount) AS gross_revenue
FROM raw_data.user_session_channel usc
JOIN raw_data.session_transaction st ON usc.sessionid = st.sessionid
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10;

### Net Revenue가 가장 큰 UserId 10개 찾기

In [35]:
# Case 문 사용 -> 조건을 가지고 SUM 이 가능하다!!!
%%sql

SELECT usc.userid, 
    SUM(CASE WHEN st.refunded IS NOT TRUE THEN amount END) net_revenue
FROM raw_data.user_session_channel usc
JOIN raw_data.session_transaction st ON usc.sessionid = st.sessionid
GROUP BY 1
-- 이 조건이 없다면 None값이 상위를 차지하고 있다. -> PostgreSQL은 내림차순 정렬 시 NULL값을 최상단에 올린다.
HAVING net_revenue is not NULL  
ORDER BY 2 DESC
LIMIT 10;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(989, 743),
 (772, 556),
 (1615, 506),
 (654, 488),
 (1651, 463),
 (973, 438),
 (262, 422),
 (2682, 414),
 (891, 412),
 (1085, 411)]

#### 🙌🏻 중요 포인트
1) case 문 같은 조건문을 가지고 Aggregation 함수(SUM, COUNT 등)를 사용할 수 있다.

2) 
> Note that if ALL inputs are null, the aggregate value will be null.

- SUM 같은 aggregation 함수는 null을 무시하지만 input값이 모두 null인 경우 aggregate 값 또한 null 이다.

# Assignment 4: 채널별 월 매출액 테이블 만들기(본인 스키마 밑에 CTAS로 테이블 만들기)

1. session_timestamp, user_session_channe, session_transaction 테이블들을 사용
2. 아래와 같은 필드로 구성
  - year-month
  - channel
  - uniqueUsers (총방문 사용자)
  - paidUsers (구매 사용자: refund한 경우도 판매로 고려) -> CASE WHEN 사용
  - conversionRate (구매 사용자/총방문 사용자)
    - Casting 필요. 분모는 NULLIF로 0으로 나누기 방지
  - grossRevenue (refund포함)
  - netRevenue (refund 제외) -> CASE WHEN 사용

### 내 풀이

In [52]:
%%sql

SELECT TO_CHAR(stime.ts, 'YYYY-MM') AS month, 
    usc.channel,
    COUNT(DISTINCT usc.userid) AS uniqueUsers,
    COUNT(DISTINCT (CASE WHEN st.refunded is not NULL THEN usc.userid END)) AS paidUsers,
    uniqueUsers/NULLIF(paidUsers,0) AS conversionRate,
    SUM(st.amount) AS gross_revenue,
    SUM(CASE WHEN st.refunded IS NOT TRUE THEN amount END) net_revenue
FROM raw_data.user_session_channel usc 
JOIN raw_data.session_timestamp stime ON usc.sessionid = stime.sessionid
LEFT JOIN raw_data.session_transaction st ON stime.sessionid = st.sessionid
GROUP BY 1, 2
ORDER BY 1, 2;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-05', 'Facebook', 247, 14, 17, 1199, 997),
 ('2019-05', 'Google', 253, 10, 25, 580, 580),
 ('2019-05', 'Instagram', 234, 11, 21, 959, 770),
 ('2019-05', 'Naver', 237, 11, 21, 867, 844),
 ('2019-05', 'Organic', 238, 17, 14, 1846, 1571),
 ('2019-05', 'Youtube', 244, 10, 24, 529, 529),
 ('2019-06', 'Facebook', 414, 22, 18, 1578, 1578),
 ('2019-06', 'Google', 412, 13, 31, 947, 947),
 ('2019-06', 'Instagram', 410, 21, 19, 1462, 1418),
 ('2019-06', 'Naver', 398, 15, 26, 1090, 1090),
 ('2019-06', 'Organic', 416, 14, 29, 1129, 940),
 ('2019-06', 'Youtube', 400, 17, 23, 1042, 1042),
 ('2019-07', 'Facebook', 558, 32, 17, 2222, 2144),
 ('2019-07', 'Google', 556, 21, 26, 1558, 1385),
 ('2019-07', 'Instagram', 567, 25, 22, 1896, 1766),
 ('2019-07', 'Naver', 553, 19, 29, 1547, 1547),
 ('2019-07', 'Organic', 557, 24, 23, 1600, 1600),
 ('2019-07', 'Youtube', 564, 36, 15, 2210, 2037),
 ('2019-08', 'Facebook', 611, 18, 33, 1009, 1009),
 ('2019-08', 'Google', 610, 28, 21, 2210, 1894),
 ('2019-08', 'Instagram', 621, 28, 22, 2129, 2001),
 ('2019-08', 'Naver', 626, 22, 28, 1829, 1551),
 ('2019-08', 'Organic', 608, 26, 23, 1643, 1606),
 ('2019-08', 'Youtube', 614, 18, 34, 987, 950),
 ('2019-09', 'Facebook', 597, 27, 22, 2270, 2270),
 ('2019-09', 'Google', 599, 25, 23, 1872, 1691),
 ('2019-09', 'Instagram', 588, 20, 29, 1260, 1122),
 ('2019-09', 'Naver', 592, 21, 28, 1996, 1996),
 ('2019-09', 'Organic', 592, 23, 25, 1267, 1267),
 ('2019-09', 'Youtube', 588, 15, 39, 1301, 1301),
 ('2019-10', 'Facebook', 698, 29, 24, 1650, 1641),
 ('2019-10', 'Google', 699, 30, 23, 2150, 2098),
 ('2019-10', 'Instagram', 707, 34, 20, 2568, 2395),
 ('2019-10', 'Naver', 713, 32, 22, 2695, 2695),
 ('2019-10', 'Organic', 709, 31, 22, 2762, 2608),
 ('2019-10', 'Youtube', 705, 34, 20, 2492, 2319),
 ('2019-11', 'Facebook', 688, 26, 26, 1678, 1678),
 ('2019-11', 'Google', 688, 26, 26, 2286, 2235),
 ('2019-11', 'Instagram', 669, 25, 26, 2116, 2116),
 ('2019-11', 'Naver', 667, 26, 25, 2234, 1987),
 ('2019-11', 'Organic', 677, 34, 19, 2626, 2255),
 ('2019-11', 'Youtube', 677, 46, 14, 3532, 3331)]

### 리드님 풀이

In [55]:
%%sql

SELECT LEFT(ts, 7) AS "month",
    usc.channel,
    COUNT(DISTINCT userid) AS uniqueUsers,
    COUNT(DISTINCT (CASE WHEN amount >= 0 THEN userid END)) AS paidUsers,
    ROUND(paidUsers::decimal*100/NULLIF(uniqueUsers, 0), 2) AS conversionRate,
    SUM(amount) AS gross_revenue,
    SUM(CASE WHEN refunded IS NOT TRUE THEN amount END) net_revenue
FROM raw_data.user_session_channel usc 
JOIN raw_data.session_timestamp t ON usc.sessionid = t.sessionid
LEFT JOIN raw_data.session_transaction st ON t.sessionid = st.sessionid
GROUP BY 1, 2
ORDER BY 1, 2;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-05', 'Facebook', 247, 14, Decimal('5.67'), 1199, 997),
 ('2019-05', 'Google', 253, 10, Decimal('3.95'), 580, 580),
 ('2019-05', 'Instagram', 234, 11, Decimal('4.70'), 959, 770),
 ('2019-05', 'Naver', 237, 11, Decimal('4.64'), 867, 844),
 ('2019-05', 'Organic', 238, 17, Decimal('7.14'), 1846, 1571),
 ('2019-05', 'Youtube', 244, 10, Decimal('4.10'), 529, 529),
 ('2019-06', 'Facebook', 414, 22, Decimal('5.31'), 1578, 1578),
 ('2019-06', 'Google', 412, 13, Decimal('3.16'), 947, 947),
 ('2019-06', 'Instagram', 410, 21, Decimal('5.12'), 1462, 1418),
 ('2019-06', 'Naver', 398, 15, Decimal('3.77'), 1090, 1090),
 ('2019-06', 'Organic', 416, 14, Decimal('3.37'), 1129, 940),
 ('2019-06', 'Youtube', 400, 17, Decimal('4.25'), 1042, 1042),
 ('2019-07', 'Facebook', 558, 32, Decimal('5.73'), 2222, 2144),
 ('2019-07', 'Google', 556, 21, Decimal('3.78'), 1558, 1385),
 ('2019-07', 'Instagram', 567, 25, Decimal('4.41'), 1896, 1766),
 ('2019-07', 'Naver', 553, 19, Decimal('3.44'), 1547, 1547),
 ('2019-07', 'Organic', 557, 24, Decimal('4.31'), 1600, 1600),
 ('2019-07', 'Youtube', 564, 36, Decimal('6.38'), 2210, 2037),
 ('2019-08', 'Facebook', 611, 18, Decimal('2.95'), 1009, 1009),
 ('2019-08', 'Google', 610, 28, Decimal('4.59'), 2210, 1894),
 ('2019-08', 'Instagram', 621, 28, Decimal('4.51'), 2129, 2001),
 ('2019-08', 'Naver', 626, 22, Decimal('3.51'), 1829, 1551),
 ('2019-08', 'Organic', 608, 26, Decimal('4.28'), 1643, 1606),
 ('2019-08', 'Youtube', 614, 18, Decimal('2.93'), 987, 950),
 ('2019-09', 'Facebook', 597, 27, Decimal('4.52'), 2270, 2270),
 ('2019-09', 'Google', 599, 25, Decimal('4.17'), 1872, 1691),
 ('2019-09', 'Instagram', 588, 20, Decimal('3.40'), 1260, 1122),
 ('2019-09', 'Naver', 592, 21, Decimal('3.55'), 1996, 1996),
 ('2019-09', 'Organic', 592, 23, Decimal('3.89'), 1267, 1267),
 ('2019-09', 'Youtube', 588, 15, Decimal('2.55'), 1301, 1301),
 ('2019-10', 'Facebook', 698, 29, Decimal('4.15'), 1650, 1641),
 ('2019-10', 'Google', 699, 30, Decimal('4.29'), 2150, 2098),
 ('2019-10', 'Instagram', 707, 34, Decimal('4.81'), 2568, 2395),
 ('2019-10', 'Naver', 713, 32, Decimal('4.49'), 2695, 2695),
 ('2019-10', 'Organic', 709, 31, Decimal('4.37'), 2762, 2608),
 ('2019-10', 'Youtube', 705, 34, Decimal('4.82'), 2492, 2319),
 ('2019-11', 'Facebook', 688, 26, Decimal('3.78'), 1678, 1678),
 ('2019-11', 'Google', 688, 26, Decimal('3.78'), 2286, 2235),
 ('2019-11', 'Instagram', 669, 25, Decimal('3.74'), 2116, 2116),
 ('2019-11', 'Naver', 667, 26, Decimal('3.90'), 2234, 1987),
 ('2019-11', 'Organic', 677, 34, Decimal('5.02'), 2626, 2255),
 ('2019-11', 'Youtube', 677, 46, Decimal('6.79'), 3532, 3331)]

### 🙌🏻 주요 포인트

- ROUND(): 데이터형을 명시해야 정확한 값이 나온다 -> casting 필요!!!
- postgresql은 타입변환으로 ::를 지원한다!
  - ex) value::type, 1234::TEXT, paidUsers::decimal