Set up *Configuration*

In [1]:
%load_ext sql

In [2]:
%sql postgresql://jihoju96:Jihoju96!1@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

'Connected: jihoju96@dev'

# Assignment 2: 사용자별로 처음과 마지막 채널 알아내기

- ex) 사용자 251번의 시간순으로 봤을 때 첫 번째 채널과 마지막 채널은 무엇인가?
- 노가다를 하면 아래 쿼리를 실행해 처음과 마지막 채널을 보면 된다.

In [ ]:
%%sql 

SELECT ts, channel
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp st ON usc.sessionid = st.sessionid
WHERE userid = 251
ORDER BY 1      -- 처음: 1 ASC / 마지막: ORDER BY 1 DESC;
LIMIT 1;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(datetime.datetime(2019, 5, 1, 12, 18, 26, 637000), 'Facebook')]

#### ROW_NUMBER 사용!

- 사용자별로 시간순으로 일련번호를 매기고 싶다면?
- 새로운 컬럼 추가!
  - 사용자별로 레코드를 모으고 그 안에서 시간순으로 sorting 후 사용자별로 1부터 번호 부여
  - ROW_NUMBER() OVER(partition by userid order by ts ASC) seq
  
**ROW_NUMBER() OVER(PARTITION BY field1 ORDER BY field2)**

#### 내 풀이

In [17]:
# 접근: sub-query 2개와 join 활용
%%sql

SELECT A.userid, A.channel AS fist_channel, B.channel AS last_channel
FROM (SELECT userid, channel, ROW_NUMBER() OVER(partition by userid order by ts ASC) seq
      FROM raw_data.user_session_channel usc
      JOIN raw_data.session_timestamp ts on usc.sessionid = ts.sessionid) AS A
      JOIN (SELECT userid, channel, ROW_NUMBER() OVER(partition by userid order by ts DESC) seq
            FROM raw_data.user_session_channel usc
            JOIN raw_data.session_timestamp ts on usc.sessionid = ts.sessionid) AS B
      ON A.seq = B.seq and A.userid = B.userid
WHERE A.seq = 1
ORDER BY 1
LIMIT 10;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(27, 'Youtube', 'Instagram'),
 (29, 'Naver', 'Naver'),
 (33, 'Google', 'Youtube'),
 (34, 'Youtube', 'Naver'),
 (36, 'Naver', 'Youtube'),
 (40, 'Youtube', 'Google'),
 (41, 'Facebook', 'Youtube'),
 (44, 'Naver', 'Instagram'),
 (45, 'Youtube', 'Instagram'),
 (59, 'Instagram', 'Instagram')]

#### 리더님 풀이

In [15]:
# 풀이 1: WITH Subquery 를 빌딩블록으로 사용
%%sql

WITH cte AS (
    SELECT userid, channel, (ROW_NUMBER() OVER (PARTITION BY usc.userid ORDER BY st.ts ASC)) AS am, (ROW_NUMBER() OVER (PARTITION BY usc.userid ORDER BY st.ts DESC)) AS dm
    FROM raw_data.user_session_channel usc 
    JOIN raw_data.session_timestamp st ON usc.sessionid = st.sessionid
)

SELECT cte1.userid, cte1.channel AS first_touch, cte2.channel AS last_touch
FROM cte cte1
JOIN cte cte2 ON cte1.userid = cte2.userid
WHERE cte1.am = 1 and cte2.dm = 1
ORDER BY 1
LIMIT 10;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(27, 'Youtube', 'Instagram'),
 (29, 'Naver', 'Naver'),
 (33, 'Google', 'Youtube'),
 (34, 'Youtube', 'Naver'),
 (36, 'Naver', 'Youtube'),
 (40, 'Youtube', 'Google'),
 (41, 'Facebook', 'Youtube'),
 (44, 'Naver', 'Instagram'),
 (45, 'Youtube', 'Instagram'),
 (59, 'Instagram', 'Instagram')]

In [16]:
# 풀이 2: window 함수 FIRST_VALUE, LAST_VALUE 사용

%%sql

SELECT DISTINCT usc.userid, 
FIRST_VALUE(usc.channel) OVER (PARTITION by usc.userid ORDER BY st.ts 
  ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS First_Channel,
LAST_VALUE(usc.channel) OVER (PARTITION BY usc.userid ORDER BY st.ts
  ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS Last_Channel
FROM raw_data.user_session_channel usc 
JOIN raw_data.session_timestamp st ON usc.sessionid = st.sessionid
ORDER BY 1
LIMIT 10;

 * postgresql://jihoju96:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(27, 'Youtube', 'Instagram'),
 (29, 'Naver', 'Naver'),
 (33, 'Google', 'Youtube'),
 (34, 'Youtube', 'Naver'),
 (36, 'Naver', 'Youtube'),
 (40, 'Youtube', 'Google'),
 (41, 'Facebook', 'Youtube'),
 (44, 'Naver', 'Instagram'),
 (45, 'Youtube', 'Instagram'),
 (59, 'Instagram', 'Instagram')]

### 느낀점

* 이때까지 내 풀이처럼 한 쿼리에 sub-query도 포함시켜 코드 구조를 알아보기 힘들게 했다. WITH Subquery 를 하나의 빌딩 블록처럼 사용하여 가독성 좋은 깔끔한 코드를 짤 수 있다.

* 한 필드값(userid)에 대한 레코드가 여러 개일 때, 이것들 중 최대, 최소, 평균 값등을 구할 때 WINDOW 함수가 효과적이다. But, 코드가 복잡해보일 수 있는데 익숙해지면 다른 코드보다 깔끔할 거 같다.