주피터 SQL 엔진 설정

In [1]:
%load_ext sql

In [2]:
%sql postgresql://guest:Guest1234@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

'Connected: guest@dev'

# 과제 SQL로 MAU(Monthly Active User) 세보기

## SQL 로 해결

MAU를 계산하기 위해선 날짜 포맷을 'YYYY-MM' 형태로 변환 후 그룹화해야 한다. <Br>
**TO_CHAR()**함수: 날짜, 숫자 등의 값을 문자열로 변환한다. 이 함수를 이용해 문제를 해결. <br>

<TO_CHAR() 날짜 포맷 변환 예>

```SQL
%%sql

SELECT TO_CHAR(SYSDATE, 'YYYYMMDD'),
       TO_CHAR(SYSDATE, 'YYYY/MM/DD'),
       TO_CHAR(SYSDATE, 'YYYY-MM-DD'),
       TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS'),
       TO_CHAR(SYSDATE, 'YYYY-MM'),
       TO_CHAR(SYSDATE, 'HH24:MI:SS')
FROM raw_data.user_session_channel
LIMIT 10;

<출력>
to_char	  to_char_1	 to_char_2	     to_char_3	    to_char_4   to_char_5
20220920	2022/09/20	2022-09-20	2022-09-20 09:28:17	2022-09	09:28:17
20220920	2022/09/20	2022-09-20	2022-09-20 09:28:17	2022-09	09:28:17
20220920	2022/09/20	2022-09-20	2022-09-20 09:28:17	2022-09	09:28:17
20220920	2022/09/20	2022-09-20	2022-09-20 09:28:17	2022-09	09:28:17
20220920	2022/09/20	2022-09-20	2022-09-20 09:28:17	2022-09	09:28:17
```

In [3]:
# 과제 답
%%sql

SELECT TO_CHAR(DATE(st.ts), 'YYYY-MM') as Date, COUNT(DISTINCT usc.userID)
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp st ON usc.sessionID = st.sessionID
GROUP BY 1
ORDER BY 1;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-05', 281),
 ('2019-06', 459),
 ('2019-07', 623),
 ('2019-08', 662),
 ('2019-09', 639),
 ('2019-10', 763),
 ('2019-11', 721)]

## Pandas 로 해결

In [4]:
# 테이블 가져오기
user_session_channel = %sql SELECT * FROM raw_data.user_session_channel
session_timestamp = %sql SELECT * FROM raw_data.session_timestamp

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
101520 rows affected.
 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
101520 rows affected.

In [5]:
# From SQL to Pandas DataFrame
df_usc = user_session_channel.DataFrame()
df_st = session_timestamp.DataFrame()

In [6]:
# Inner Join
import pandas as pd

df_join = pd.merge(left = df_usc, right = df_st, how = "inner", on = "sessionid")

In [7]:
# ts 컬럼 YYYY-MM 포맷으로 변환
df_join['date'] = df_join['ts'].apply(lambda x: "%d-%02d" % (x.year, x.month))

In [8]:
# 중복 제거
df_join = df_join.drop_duplicates(['date', 'userid'])

In [9]:
# date 별 user 수를 나타내는 count 열 추가 및 date 내림차순 정렬
df_join.groupby(['date'])["userid"].count().reset_index(name='count').sort_values("date", ascending=False)

      date  count
6  2019-11    721
5  2019-10    763
4  2019-09    639
3  2019-08    662
2  2019-07    623
1  2019-06    459
0  2019-05    281

### 과제를 해결하며 실수했던 부분

In [10]:
# date 별 userid 중복을 처리하지 못했다.
# 다음 결과처럼 userid_date 가 중복되어 나타나는 것을 확인할 수 있다.
%%sql

SELECT usc.userID || ' // ' || TO_CHAR(DATE(st.ts), 'YYYY-MM') userid_date, COUNT(1)
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp st ON usc.sessionID = st.sessionID
GROUP BY 1
ORDER BY 2 desc
LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('1615 // 2019-11', 147),
 ('989 // 2019-08', 114),
 ('2590 // 2019-11', 98),
 ('1615 // 2019-08', 95),
 ('1615 // 2019-07', 94),
 ('1493 // 2019-08', 91),
 ('1615 // 2019-10', 89),
 ('1615 // 2019-09', 89),
 ('1651 // 2019-07', 87),
 ('989 // 2019-09', 87)]